{% extends "master.html.twig" %}

{% block title %}Register{% endblock %}

{% block headextra %}
    <script>
        $(document).ready(function () {
            // respond to all events that may change the value of input
            $('input[name=email]').bind('propertychange change click keyup input paste', function () {
                // AJAX request
                var email = $('input[name=email]').val();
                $('#isTaken').load('/isemailregistered/' + email);
            });
        });
    </script>
{% endblock %}

{% block content %}
    {% if errorList %}
        <ul>
            {% for error in errorList %}
                <li>{{error}}</li>
                {% endfor %}
        </ul>
    {% endif %}

    <form method="post">
        <fieldset><legend class="text-center">Valid information is required to register. <span class="req"><small> required *</small></span></legend>
            <div class="form-group">
             <label for="name"><span class="req">* </span> Name:</label>
             <input class="form-control" type="text"  name="name"  value="{{v.name}}"><br><br>
            </div>
           
             <div class="form-group">
                <label for="email"><span class="req">* </span> Email Address: </label> 
             <input class="form-control" type="email" name="email" value="{{v.email}}"><span id="isTaken"></span><br><br>
            </div>
             <div class="form-group">
                <label for="address"><span class="req">* </span> Address: </label> 
            
             <textarea class="form-control"  name="address" >{{v.address}} </textarea>
            </div>
             <div class="form-group">
                <label for="phone"><span class="req">* </span> Phone: </label> 
             <input class="form-control" type="text" name="phone" value="{{v.phone}}"><br><br>
            </div>
            <div class="form-group">
              <label for="password"><span class="req">* </span>    Password: </label> 
              <input class="form-control"  type="password" name="pass1"><br><br>
            </div>
            <div class="form-group">
                <label for="password"><span class="req">* </span>  Password (repeated): </label> 
                <input class="form-control" type="password" name="pass2"><br><br><br>
                
            </div>
            <div class="form-group">
                <input class="btn btn-success" type="submit" value="Register">
                  </div>
                </form>

            {% endblock %}